{% extends 'base.html' %}

{% block body %}
<div class="container">

    <div class="para">
        <h1>This is a paragrap one</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, dolorem quo. Sint, sed ea. Magni laudantium
            cupiditate voluptas excepturi? Odit amet fugiat ea numquam quibusdam harum enim delectus voluptas ducimus?
        </p>
    </div>

    <div class="para1">
        <h1>This is paragrap two </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam non facere hic ratione iste doloremque, aliquam
            quam rerum mollitia ut, dolores aut maxime sed saepe voluptatibus repellendus tenetur amet quae.</p>
    </div>

    <div class="para2">
        <h1>This is a paragrap three</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe iste officiis unde, qui voluptatibus nemo
            autem obcaecati perspiciatis doloremque at numquam assumenda totam quasi optio fugiat, quam voluptate omnis
            reiciendis?</p>
    </div>
</div>
{% endblock body %}