{% extends 'base.html' %}


{% block body %}
<h3>This is heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ullam illum similique earum corporis qui dolore rem nesciunt amet consequatur cumque vel voluptatem nam, quidem tempora sint animi ipsum eligendi?</p>
<h3>This is heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ullam illum similique earum corporis qui dolore rem nesciunt amet consequatur cumque vel voluptatem nam, quidem tempora sint animi ipsum eligendi?</p>
<h3>This is heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ullam illum similique earum corporis qui dolore rem nesciunt amet consequatur cumque vel voluptatem nam, quidem tempora sint animi ipsum eligendi?</p>
<h3>This is heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ullam illum similique earum corporis qui dolore rem nesciunt amet consequatur cumque vel voluptatem nam, quidem tempora sint animi ipsum eligendi?</p>
<h3>This is heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ullam illum similique earum corporis qui dolore rem nesciunt amet consequatur cumque vel voluptatem nam, quidem tempora sint animi ipsum eligendi?</p>





{% endblock body %}