{% extends 'base.html' %}

{% block body %}
<h1>This is a Heading</h1>
<img src="https://images.unsplash.com/photo-1491013516836-7db643ee125a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80"
    alt="babyimg">
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum minima eveniet quo laborum alias vel, mollitia,
    perspiciatis iste praesentium cumque quasi ab sed! Adipisci, nostrum! Nisi velit odit aliquid aperiam, sequi saepe
    impedit ipsum voluptatibus? Corporis quaerat ex id, veniam iste, doloribus debitis magni consectetur laboriosam
    mollitia at ipsum! Est ratione eligendi quos saepe amet, quidem tempora? Nobis quibusdam modi iure doloribus quaerat
    similique quas totam? Officia facilis et inventore doloribus eligendi ea fugit natus, excepturi dolorum unde aperiam
    consequuntur dolor at illum, quisquam quo praesentium incidunt adipisci. Dolorum soluta non, esse pariatur
    quibusdam, expedita quae nobis praesentium ipsam nihil maxime, corrupti laudantium adipisci dolor quasi numquam?
    Libero enim, molestiae provident dignissimos numquam error. Dignissimos fuga ea ullam quo similique cumque vitae
    tenetur esse, debitis officia blanditiis, expedita incidunt inventore, aliquam consectetur explicabo architecto. Sed
    tempora exercitationem eum nostrum, architecto atque cum dolor facere quo numquam vitae, ut ullam blanditiis quaerat
    inventore quisquam cumque sequi laudantium molestias maiores. Qui earum suscipit laborum odit placeat iusto rem
    molestias assumenda nihil. Enim, dolore iusto perspiciatis dicta nesciunt voluptas magnam molestias qui repudiandae
    quidem aperiam eius, nam aliquid aliquam. Explicabo, quod earum. Totam, unde? Libero eaque at obcaecati recusandae
    enim neque, doloribus animi?</p>

{% endblock body %}